@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../base/animations" as *;

ul,
ol {
    margin-left: 3rem;
    list-style-position: outside;

    & > li {
        padding-left: 1em;

        &::marker {
            font-family: "Youtube Sans", "Roboto", sans-serif;
            font-weight: 600;
        }
    }
}

ul {
    list-style-type: disc;

    &[square] {
        list-style-type: square;
    }
}

ol {
    list-style-type: decimal;

    &[leading-zero] {
        list-style-type: decimal-leading-zero;
    }
}
