.email {
  background-color: hsl(210deg, 10%, 20%);
  color: hsl(0deg, 0%, 85%);
  cursor: pointer;
}
.email[clicked] {
  background: none;
  color: hsl(0deg, 0%, 100%);
}
.email[copied] {
  background-color: hsl(235deg, 86%, 65%);
  color: hsl(0deg, 0%, 100%);
  cursor: default;
}