html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
}

.search_div {
  position: relative;
  width: clamp(4vh, 60rem, 100% - 32vh);
  margin: 2rem auto 0;
}
.search_div form #search {
  width: 100%;
  height: 4rem;
  padding: 1.5rem 2.5rem 1.5rem 4.5rem;
  background: hsl(210deg, 10%, 20%);
  border-radius: 10000px;
  -webkit-box-shadow: 0px 20px 0px -10px hsl(0deg, 0%, 0%);
          box-shadow: 0px 20px 0px -10px hsl(0deg, 0%, 0%);
}
.search_div::before {
  font: var(--fa-font-solid);
  content: "\f002";
  position: absolute;
  left: 1.5rem;
  top: 0;
  height: 100%;
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search_div::after {
  content: attr(data-after);
  position: absolute;
  right: 2rem;
  top: 0;
  height: 100%;
  max-width: 50%;
  color: hsl(0deg, 0%, 60%);
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#ergebnisse {
  position: relative;
  width: 80%;
  margin: 4rem auto;
}
#ergebnisse div {
  width: 100%;
  margin: 2.5rem 0;
  padding: 1.5rem 2rem;
  background: hsl(210deg, 10%, 20%);
  border-radius: 20px;
  -webkit-box-shadow: 0px 25px 0px -5px hsl(0deg, 0%, 0%);
          box-shadow: 0px 25px 0px -5px hsl(0deg, 0%, 0%);
  -webkit-transition: color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
#ergebnisse div h4 {
  margin: 0;
  padding: 0;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}
#ergebnisse div p {
  margin: 0;
  padding: 0;
  color: hsl(0deg, 0%, 70%);
  font-weight: 400;
}
#ergebnisse div:hover {
  -webkit-box-shadow: 0px 13px 0px -5px hsl(0deg, 0%, 0%);
          box-shadow: 0px 13px 0px -5px hsl(0deg, 0%, 0%);
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}
#ergebnisse div#active {
  -webkit-box-shadow: 0px 19px 0px -5px hsl(0deg, 0%, 0%);
          box-shadow: 0px 19px 0px -5px hsl(0deg, 0%, 0%);
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}
#ergebnisse div#active h4 {
  color: hsl(0deg, 0%, 100%);
}
#ergebnisse div#active p {
  color: hsl(0deg, 0%, 90%);
}
#ergebnisse div#active:hover {
  -webkit-box-shadow: 0px 13px 0px -5px hsl(0deg, 0%, 0%);
          box-shadow: 0px 13px 0px -5px hsl(0deg, 0%, 0%);
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

#clear_search_history {
  display: none;
  position: absolute;
  right: calc((100vw - 80%) / 2);
  top: 9rem;
  z-index: 980;
}

@media (max-width: 40em) {
  .search_div {
    width: 80%;
    margin: 8rem auto 0;
  }
  .search_div::after {
    content: "";
  }

  #clear_search_history {
    top: 15rem;
  }
}