#search_div {
  position: absolute;
  width: 100%;
}

#search_div form #search {
  width: 100%;
  height: 8vh;
  padding: 3vh 5vh 3vh 9vh;
  background: var(--hintergrund2);
  border-radius: 10000px;
}

#search_div::before {
  font: var(--fa-font-solid);
  content: '\f002';
  position: absolute;
  left: 3vh;
  top: 0;
  height: 100%;
  font-size: 3.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search_div::after {
  content: attr(data-after);
  position: absolute;
  right: 4vh;
  top: 0;
  height: 100%;
  color: var(--border-color1);
  font-size: 1.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#ergebnisse {
  position: relative;
  width: var(--container);
  margin: 20vh auto;
}

#ergebnisse div {
  width: 100%;
  margin: 5vh 0;
  padding: 3vh 4vh;
  background: var(--hintergrund2);
  border-radius: 2vh;
  -webkit-box-shadow: 0px 20px 0px black;
          box-shadow: 0px 20px 0px black;
  -webkit-transition: -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: box-shadow .1s ease-in-out, transform .1s ease-in-out;
  transition: box-shadow .1s ease-in-out, transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

#ergebnisse div a h4 {
  margin: 0;
  padding: 0;
}

#ergebnisse div a p {
  color: var(--border-color1);
  margin: 0;
  padding: 0;
}

#ergebnisse div:hover {
  -webkit-box-shadow: 0px 8px 0px black;
          box-shadow: 0px 8px 0px black;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

#ergebnisse div#active {
  -webkit-box-shadow: 0px 8px 0px black;
          box-shadow: 0px 8px 0px black;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  background: var(--nebenfarbe2);
}
