:root {
  --main-color: hsl(235, 86%, 65%);
  --font-color: hsl(0, 0%, 100%);
  --font-color-secondary: hsl(0, 0%, 85%);
  --font-color-dark: hsl(0, 0%, 0%);
  --font-color-light: hsl(0, 0%, 100%);
  --font-color-link: hsl(46, 100%, 75%);
  --font-color-link-hover: hsl(46, 100%, 65%);
  --font-color-navigation-hover: hsl(29, 100%, 91%);
  --font-color-warning: hsl(45, 95%, 30%);
  --font-color-info: hsl(0, 0%, 100%);
  --background-color: hsl(210, 10%, 15%);
  --background-color-2: hsl(210, 10%, 20%);
  --background-color-3: hsl(210, 10%, 25%);
  --background-color-button: var(--main-color);
  --background-color-card: hsl(220, 0%, 15%);
  --background-color-code: hsl(220, 10%, 25%);
  --background-color-code-copy: hsl(220, 10%, 15%);
  --background-color-warning: hsl(46, 100%, 90%);
  --background-color-info: hsl(188, 78%, 41%);
  --background-color-footer: hsl(220, 10%, 20%);
  --border-color: hsl(0, 0%, 60%);
  --border-color-2: hsl(0, 0%, 95%);
  --font-color-code-string: hsl(18, 50%, 68%);
  --font-color-code-comment: hsl(111, 39%, 45%);
  --font-color-code-class: hsl(169, 49%, 52%);
  --font-color-code-struct: hsl(130, 36%, 65%);
  --font-color-code-method: hsl(60, 42%, 76%);
  --font-color-code-variable: hsl(201, 93%, 79%);
  --font-color-code-number: hsl(99, 28%, 73%);
  --font-color-code-keyword: hsl(207, 61%, 59%);
  --font-color-code-keyword-optional: hsl(211, 45%, 43%);
  --font-color-code-generic: hsl(102, 35%, 72%);
  --font-color-code-flowcontrol: hsl(293, 50%, 75%);
  --font-color-code-error: hsl(2, 97%, 60%);
  --font-color-code-normal: hsl(0, 0%, 86%);
  --orange: hsl(37, 80%, 51%);
  --green: hsl(99, 57%, 31%);
  --lime: hsl(158, 95%, 34%);
  --blue: hsl(208, 80%, 50%);
  --violet: hsl(267, 54%, 54%);
  --pink: hsl(295, 80%, 69%);
  --shadow-ergebnis-div: hsl(0, 0%, 0%);
  --shadow-ergebnis-div-active: hsl(0, 0%, 0%);
  --font-color-ergebnis-heading: hsl(0, 0%, 100%);
  --font-color-ergebnis-heading-active: hsl(0, 0%, 100%);
  --font-color-ergebnis-paragraph: hsl(0, 0%, 70%);
  --font-color-ergebnis-paragraph-active: hsl(0, 0%, 90%);
  --background-color-ergebnis-div-active: var(--blue);
}

body[colorTheme=light] {
  --font-color: hsl(0, 0%, 0%);
  --font-color-secondary: hsl(0, 0%, 15%);
  --font-color-link: hsl(238, 66%, 64%);
  --font-color-link-hover: hsl(248, 65%, 52%);
  --font-color-navigation-hover: var(--font-color-link);
  --background-color: hsl(0, 0%, 100%);
  --background-color-2: hsl(0, 0%, 95%);
  --background-color-3: hsl(0, 0%, 90%);
  --background-color-card: var(--background-color-2);
  --background-color-code: var(--background-color-2);
  --background-color-code-copy: var(--background-color-3);
  --background-color-footer: var(--background-color-3);
  --border-color: hsl(0, 0%, 40%);
  --border-color-2: hsl(0, 0%, 5%);
  --font-color-code-string: hsl(0, 77%, 36%);
  --font-color-code-comment: hsl(115, 81%, 29%);
  --font-color-code-class: hsl(194, 61%, 43%);
  --font-color-code-struct: var(--font-color-code-class);
  --font-color-code-method: hsl(37, 58%, 29%);
  --font-color-code-variable: hsl(225, 61%, 31%);
  --font-color-code-number: var(--font-color-code-normal);
  --font-color-code-keyword: hsl(240, 100%, 53%);
  --font-color-code-keyword-optional: hsl(240, 100%, 79%);
  --font-color-code-generic: var(--font-color-code-class);
  --font-color-code-flowcontrol: hsl(283, 90%, 40%);
  --font-color-code-error: hsl(0, 100%, 59%);
  --font-color-code-normal: hsl(0, 0%, 0%);
  --shadow-ergebnis-div: hsl(0, 0%, 80%);
  --shadow-ergebnis-div-active: hsl(0, 0%, 25%);
  --font-color-ergebnis-heading: hsl(0, 0%, 20%);
  --font-color-ergebnis-heading-active: hsl(0, 0%, 100%);
  --font-color-ergebnis-paragraph: hsl(0, 0%, 40%);
  --font-color-ergebnis-paragraph-active: hsl(0, 0%, 90%);
}

:root {
  --container: 80%;
  --transition-short: 0.2s;
  --transition-middle: 0.5s;
  --transition-long: 0.8s;
  --bounce-easing: cubic-bezier(0.89, -0.68, 0.5, 1);
  --border-radius: 20px;
  --media-break-point: 40em;
  --media-break-point-2: 60em;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
}

.search_div {
  position: relative;
  width: clamp(4vh, 60rem, 100% - 32vh);
  margin: 2rem auto 0;
}
.search_div form #search {
  width: 100%;
  height: 4rem;
  padding: 1.5rem 2.5rem 1.5rem 4.5rem;
  background-color: var(--background-color-2);
  border-radius: 10000px;
  -webkit-box-shadow: 0px 20px 0px -10px var(--shadow-ergebnis-div);
          box-shadow: 0px 20px 0px -10px var(--shadow-ergebnis-div);
}
.search_div::before {
  font: var(--fa-font-solid);
  content: "\f002";
  position: absolute;
  left: 1.5rem;
  top: 0;
  height: 100%;
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search_div::after {
  content: attr(data-after);
  position: absolute;
  right: 2rem;
  top: 0;
  height: 100%;
  max-width: 50%;
  color: var(--border-color);
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#ergebnisse {
  position: relative;
  width: var(--container);
  margin: 4rem auto;
}
#ergebnisse div {
  width: 100%;
  margin: 2.5rem 0;
  padding: 1.5rem 2rem;
  background-color: var(--background-color-2);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 25px 0px -5px var(--shadow-ergebnis-div);
          box-shadow: 0px 25px 0px -5px var(--shadow-ergebnis-div);
  -webkit-transition: color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
#ergebnisse div h4 {
  margin: 0;
  padding: 0;
  color: var(--font-color-ergebnis-heading);
  font-weight: 700;
}
#ergebnisse div p {
  margin: 0;
  padding: 0;
  color: var(--font-color-ergebnis-paragraph);
  font-weight: 400;
}
#ergebnisse div:hover {
  -webkit-box-shadow: 0px 13px 0px -5px var(--shadow-ergebnis-div);
          box-shadow: 0px 13px 0px -5px var(--shadow-ergebnis-div);
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}
#ergebnisse div[active] {
  -webkit-box-shadow: 0px 19px 0px -5px var(--shadow-ergebnis-div-active);
          box-shadow: 0px 19px 0px -5px var(--shadow-ergebnis-div-active);
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}
#ergebnisse div[active] h4 {
  color: var(--font-color-ergebnis-heading-active);
}
#ergebnisse div[active] p {
  color: var(--font-color-ergebnis-paragraph-active);
}
#ergebnisse div[active]:hover {
  -webkit-box-shadow: 0px 13px 0px -5px var(--shadow-ergebnis-div);
          box-shadow: 0px 13px 0px -5px var(--shadow-ergebnis-div);
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

#clear_search_history {
  display: none;
  position: absolute;
  right: calc((100vw - var(--container)) / 2);
  top: 9rem;
  z-index: 980;
}

@media (max-width: 40em) {
  .search_div {
    width: var(--container);
    margin: 8rem auto 0;
  }
  .search_div::after {
    content: "";
  }

  #clear_search_history {
    top: 15rem;
  }
}