:root, body.light {
  --ergebnis-div-shadow: #ccc;
  --ergebnis-div-shadow-active: #444;
  --ergebnis-h-color: #333;
  --ergebnis-h-color-active: #fff;
  --ergebnis-p-color: #666;
  --ergebnis-p-color-active: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ergebnis-div-shadow: #000;
    --ergebnis-div-shadow-active: #000;
    --ergebnis-h-color: #fff;
    --ergebnis-h-color-active: #fff;
    --ergebnis-p-color: #bbb;
    --ergebnis-p-color-active: #eee;
  }
}
body.dark {
  --ergebnis-div-shadow: #000;
  --ergebnis-div-shadow-active: #000;
  --ergebnis-h-color: #fff;
  --ergebnis-h-color-active: #fff;
  --ergebnis-p-color: #bbb;
  --ergebnis-p-color-active: #eee;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
}

.search_div {
  position: relative;
  width: clamp(4vh, 60rem, 100% - 32vh);
  margin: 4vh auto 0;
}
.search_div form #search {
  width: 100%;
  height: 8vh;
  padding: 3vh 5vh 3vh 9vh;
  background: var(--hintergrund2);
  border-radius: 10000px;
  -webkit-box-shadow: 0px 20px 0px -10px var(--ergebnis-div-shadow);
          box-shadow: 0px 20px 0px -10px var(--ergebnis-div-shadow);
}
.search_div::before {
  font: var(--fa-font-solid);
  content: "\f002";
  position: absolute;
  left: 3vh;
  top: 0;
  height: 100%;
  font-size: 3.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search_div::after {
  content: attr(data-after);
  position: absolute;
  right: 4vh;
  top: 0;
  height: 100%;
  max-width: 50%;
  color: var(--border-color1);
  font-size: 1.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#ergebnisse {
  position: relative;
  width: var(--container);
  margin: 8vh auto;
}
#ergebnisse div {
  width: 100%;
  margin: 5vh 0;
  padding: 3vh 4vh;
  background: var(--hintergrund2);
  border-radius: 2vh;
  -webkit-box-shadow: 0px 25px 0px -5px var(--ergebnis-div-shadow);
          box-shadow: 0px 25px 0px -5px var(--ergebnis-div-shadow);
  -webkit-transition: color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, color 50ms ease-in-out, background 50ms ease-in-out, font 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
#ergebnisse div a h4 {
  margin: 0;
  padding: 0;
  color: var(--ergebnis-h-color);
  font-weight: 700;
}
#ergebnisse div a p {
  margin: 0;
  padding: 0;
  color: var(--ergebnis-p-color);
  font-weight: 400;
}
#ergebnisse div:hover {
  -webkit-box-shadow: 0px 13px 0px -5px var(--ergebnis-div-shadow);
          box-shadow: 0px 13px 0px -5px var(--ergebnis-div-shadow);
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}
#ergebnisse div#active {
  -webkit-box-shadow: 0px 19px 0px -5px var(--ergebnis-div-shadow-active);
          box-shadow: 0px 19px 0px -5px var(--ergebnis-div-shadow-active);
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  background: var(--nebenfarbe2);
}
#ergebnisse div#active a h4 {
  color: var(--ergebnis-h-color-active);
}
#ergebnisse div#active a p {
  color: var(--ergebnis-p-color-active);
}
#ergebnisse div#active:hover {
  -webkit-box-shadow: 0px 13px 0px -5px var(--ergebnis-div-shadow);
          box-shadow: 0px 13px 0px -5px var(--ergebnis-div-shadow);
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

@media screen and (max-width: 40rem) {
  .search_div {
    width: calc(100% - 8vh);
    margin: 16vh auto 0;
  }
}