@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../base/animations" as *;

.navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    font-size: clamp(1.2rem, 1.64vw, 1.5rem);
    background-color: var(--background-color-2);
    transform: translateX(100vw);
    transition: transform var(--transition-middle) ease-in-out;
    user-select: none;
    z-index: 1000;

    & > * {
        opacity: 0;
        transition: opacity var(--transition-short) ease-in-out;
    }

    & .list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        & .item {
            position: relative;
            padding: 1rem 0;

            & .navlink {
                text-decoration: none;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 40px;

                position: relative;
                transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);

                &::before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    bottom: -30px;
                    left: 0;
                    right: 0;
                }

                & .link-showcase {
                    position: relative;
                    width: 100%;
                    display: flex;
                    height: 2rem;
                    overflow: hidden;
                }

                & .link-text {
                    position: relative;
                    color: var(--font-color);
                    transform-origin: left center;
                    font-weight: 600;
                    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);

                    &::after {
                        content: attr(data-after);
                        color: #5966f3;
                        display: block;
                        position: absolute;
                        transform-origin: left center;
                        top: calc(
                            220% - 15px
                        ); // 30px weniger als beim unteren Hover-Effect, damit JS-Code ausgeglichen
                        left: 2rem;
                        transform: skewY(30deg);
                        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }

                &:hover .link-text {
                    transform: translateY(-200%) skewY(6deg);

                    &::after {
                        transform: skewY(-6deg);
                    }
                }
            }
        }
    }

    &[active] {
        transform: translateX(0);

        & > * {
            transition: opacity var(--transition-short) ease-in-out
                calc(var(--transition-middle) - var(--transition-short));
            opacity: 1;
        }
    }

    // & .item:nth-of-type(1) .navlink .link-text::after {
    //     color: hsl(235, 86%, 65%);
    // }

    // & .item:nth-of-type(2) .navlink .link-text::after {
    //     color: #1986e6;
    // }

    // & .item:nth-of-type(3) .navlink .link-text::after {
    //     color: #e67e22;
    // }

    // & .item:nth-of-type(4) .navlink .link-text::after {
    //     color: #e571ef;
    // }

    // & .item:nth-of-type(5) .navlink .link-text::after {
    //     color: #04aa6d;
    // }
}

body[colorTheme="dark"] {
    & .navigation .item:nth-of-type(1) .navlink .link-text::after {
        color: #5966f3;
    }

    & .navigation .item:nth-of-type(2) .navlink .link-text::after {
        color: var(--lime);
    }

    & .navigation .item:nth-of-type(3) .navlink .link-text::after {
        color: var(--orange);
    }

    & .navigation .item:nth-of-type(4) .navlink .link-text::after {
        color: var(--pink);
    }

    & .navigation .item:nth-of-type(5) .navlink .link-text::after {
        color: var(--blue);
    }

    & .navigation .item:nth-of-type(6) .navlink .link-text::after {
        color: var(--violet);
    }
}

body[colorTheme="auto"] {
    @media (prefers-color-scheme: dark) {
        & .navigation .item:nth-of-type(1) .navlink .link-text::after {
            color: #5966f3;
        }

        & .navigation .item:nth-of-type(2) .navlink .link-text::after {
            color: var(--lime);
        }

        & .navigation .item:nth-of-type(3) .navlink .link-text::after {
            color: var(--orange);
        }

        & .navigation .item:nth-of-type(4) .navlink .link-text::after {
            color: var(--pink);
        }

        & .navigation .item:nth-of-type(5) .navlink .link-text::after {
            color: var(--blue);
        }

        & .navigation .item:nth-of-type(6) .navlink .link-text::after {
            color: var(--violet);
        }
    }
}

.navigation-blur-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--font-color);
    opacity: 0;
    transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
    z-index: -999;

    &[active] {
        transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
        opacity: 0.25;
        z-index: 990;
    }
}

@media (min-width: 60em) {
    .navigation {
        width: 40rem;
        transform: translateX(40rem);
    }
}
