@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.button {
    display: inline-block;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: $font-color;
    $border-value: 0.2rem;
    // border: $border-value solid $main-color;
    border-radius: $border-value;
    margin-block: 1rem;
    padding: .5rem; 
    overflow: hidden;
    transition: color $transition-middle ease-in-out, transform $transition-middle ease-in-out;

    &::before {
        content: '';
        $slope-value: 1rem;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -$slope-value;
        bottom: -1px;
        clip-path: polygon(0 0, calc(100% - $slope-value) 0, 100% 100%, 0% 100%);
        background-color: $main-color;
        transform: translateX(-100%);
        transition: transform $transition-middle ease-in-out;
    }

    &:hover {
        color: $background-color;
        // transform: scale(0.99);

        &::before {
            transform: translateX(0%);    
        }
    }

    &[uppercase] {
        text-transform: uppercase;
    }

    &[prev] {
        text-transform: uppercase;

    }

    &[next] {
        text-transform: uppercase;
        
    }
}
