@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.button {
    display: inline-block;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    padding: 1em 4em;
    margin: 1.5rem;
    min-width: 10rem;
    text-align: center;
    color: $font-color;
    background-color: $background-color;
    border: $background-color-button 5px solid; // --button-background, damit gleich wie Hintergrund
    border-radius: $border-radius;
    transition: background $transition-short ease-in-out,
        border-radius $transition-short, transform $transition-short ease-in-out;
    cursor: pointer;

    &:hover {
        color: $font-color-light;
        background: $background-color-button;
    }

    &[funny-font] {
        font-family: "Mochiy Pop P One", sans-serif;
    }

    &[small] {
        font-size: 0.75rem;
        letter-spacing: initial;
        padding: 0.5em 2em;
        margin: 0.5rem;
        min-width: 5rem;
    }
}
