@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

kbd {
    display: inline-block;
    position: relative;
    font-size: 0.8em;
    text-align: center;
    color: var(--font-color);
    background-color: var(--background-color);
    min-width: 1rem;
    padding: 0.1em 0.3em;
    margin: 0.15rem 0.1rem 0.15rem 0.2rem;
    border: 0.1em solid var(--border-color);
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0 var(--font-color), inset 0 0 0 0.2rem var(--background-color);
    transform: translate(-0.1rem, -0.1rem);
    transition: transform var(--transition-short) ease-in-out,
        box-shadow var(--transition-short) ease-in-out;
    cursor: default;
    user-select: none;

    &:active {
        transform: translate(0);
        box-shadow: 0 0 0 var(--font-color), inset 0 0 0 0.2rem var(--background-color);
    }
}
