@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.link {
    position: relative;
    display: inline-block;
    color: var(--font-color-link);
    transition: color var(--transition-short) ease-out;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        // display: block;
        width: 100%;
        transform: scaleX(0);
        height: 0.15rem;
        border-radius: 10000px;
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transition: transform var(--transition-short) ease-out,
            background var(--transition-short) ease-out;
        background-color: var(--font-color-link);
    }

    &:hover {
        color: var(--font-color-link-hover);

        &::before {
            transform: scaleX(1);
            transform-origin: bottom left;
            background-color: var(--font-color-link-hover);
            // transition-delay: var(--transition-short);
        }
    }
}
