<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Prev-Next</title>
    </head>
    <body>
        <div class="flexbox" space-between>
            <div id="button-prev" class="button" prev>
                <a href="">
                    <div class="flexbox" space-between>
                        <div class="flexbox" wrap-reverse centered-vertical>
                            <i class="fa-solid fa-angle-left arrow-one"></i>
                            <i class="fa-solid fa-angle-left arrow-two"></i>
                            <i class="fa-solid fa-angle-left arrow-three"></i>
                        </div>
                        <div>Previous</div>
                    </div>
                </a>
            </div>
            <div id="button-next" class="button" next>
                <a href="">
                    <div class="flexbox" space-between>
                        <div>Next</div>
                        <div class="flexbox" wrap-reverse centered-vertical>
                            <i class="fa-solid fa-angle-right arrow-one"></i>
                            <i class="fa-solid fa-angle-right arrow-two"></i>
                            <i class="fa-solid fa-angle-right arrow-three"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
