<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/lightbox.min.css" />
        <link href="/css/fa_all.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/css/main.min.css" />
        <link rel="stylesheet" href="/css/search.min.css" />
        <link rel="icon" href="/img/Logo.svg" />
        <title>Suche - Schneider IT</title>
    </head>
    <body onload="OnLoadSearch(); LoadSearchHistory();">
        <div id="header"></div>

        <div class="back_button">
            <a href="javascript:history.back()">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>

        <!-- <div id="blur"></div> -->

        <div class="search_div">
            <form id="search_form">
                <input
                    type="text"
                    id="search"
                    name=""
                    placeholder="Search"
                    autofocus
                    autocapitalize="none"
                    autocomplete="off"
                    autocorrect="off"
                />
            </form>
            <span id="information-after"></span>
        </div>

        <div id="info"></div>
        <div id="ergebnisse"></div>

        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script defer type="text/javascript" src="/js/VanillaTilt.js"></script>
        <script defer src="/js/Lightbox.js"></script>
        <script defer src="/js/FontAwesome.js"></script>
        <script src="/js/Fuse.js"></script>

        <script type="text/javascript" src="/js/Search.js"></script>
        <script defer type="text/javascript" src="/js/App.js"></script>
    </body>
</html>
