<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="/css/fa_all.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/css/main.min.css" />
        <link rel="stylesheet" href="/css/tastenkombinationen.min.css" />
        <link rel="icon" href="/img/Logo.svg" />
        <title>Tastenkombinationen - Schneider IT</title>
    </head>
    <body>
        <div id="tastenkombinationen">
            <!-- <div class="tastenkombinationen-close"><i class="fa-solid fa-xmark"></i></div> -->
            <h1>Tastenkombinationen</h1>
            <div class="grid" responsive grid-template-columns="1,1">
                <div>
                    <h3>Allgemein</h3>
                    <div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>runter scrollen</div>
                            <div>
                                <kbd><i class="fa-solid fa-arrow-down"></i></kbd>
                            </div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>rauf scrollen</div>
                            <div>
                                <kbd><i class="fa-solid fa-arrow-up"></i></kbd>
                            </div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>einen Schritt rückwärts gehen</div>
                            <div><kbd>STRG</kbd> + <kbd>z</kbd></div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>einen Schritt vorwärts gehen</div>
                            <div><kbd>STRG</kbd> + <kbd>y</kbd></div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>einen Schritt rückwärts gehen</div>
                            <div><kbd>BACKSPACE</kbd></div>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Navigation</h3>
                    <div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>zur nächsten Lektion navigieren</div>
                            <div>
                                <kbd><i class="fa-solid fa-arrow-right"></i></kbd>
                            </div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>zur vorherigen Lektion navigieren</div>
                            <div>
                                <kbd><i class="fa-solid fa-arrow-left"></i></kbd>
                            </div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>zur nächsten Lektion navigieren</div>
                            <div><kbd>STRG</kbd> + <kbd>n</kbd></div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>zur vorherigen Lektion navigieren</div>
                            <div><kbd>STRG</kbd> + <kbd>b</kbd></div>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Suche</h3>
                    <div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>zur Suche springen</div>
                            <div><kbd>SHIFT</kbd> + <kbd>7</kbd></div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>zur Suche springen</div>
                            <div><kbd>TAB</kbd></div>
                        </div>
                        <div class="grid" grid-template-columns="3,1">
                            <div>zur Suche springen</div>
                            <div><kbd>STRG</kbd> + <kbd>s</kbd></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="grid" grid-template-columns="3,1" grid-template-columns="1,2">
                <div>
                    <h3>allgemeine Tastenkombinationen</h3>
                    <table>
                        <tr>
                            <td>einen Schritt zurück</td>
                            <td>STRG + z</td>
                        </tr>
                        <tr>
                            <td>einen Schritt zurück</td>
                            <td>Backspace</td>
                        </tr>
                        <tr>
                            <td>einen Schritt vor</td>
                            <td>STRG + y</td>
                        </tr>
                        <tr>
                            <td>zur Suche navigieren</td>
                            <td>SHIFT + /</td>
                        </tr>
                        <tr>
                            <td>zur Suche navigieren</td>
                            <td>TAB</td>
                        </tr>
                        <tr>
                            <td>zur Suche navigieren</td>
                            <td>STRG + s</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h3>Navigation</h3>
                    <table>
                        <tr>
                            <td>zur nächsten Seite navigieren</td>
                            <td>STRG + n</td>
                        </tr>
                        <tr>
                            <td>zur nächsten Seite navigieren</td>
                            <td>Pfeil rechts</td>
                        </tr>
                        <tr>
                            <td>zur vorherigen Seite navigieren</td>
                            <td>STRG + b</td>
                        </tr>
                        <tr>
                            <td>zur vorherigen Seite navigieren</td>
                            <td>Pfeil links</td>
                        </tr>
                    </table>
                </div>
            </div> -->
        </div>

        <script defer src="/js/FontAwesome.js"></script>
    </body>
</html>
