<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/tastenkombinationen.min.css">
    <link rel="icon" href="/img/Logo.svg">
    <title>Tastenkombinationen</title>
</head>
<body>
    <div>
        <h1>Tastenkombinationen</h1>
        <div class="d-flex fdc fww">
            <div>
                <h3>allgemeine Tastenkombinationen</h3>
                <table>
                    <tr>
                        <td>einen Schritt zurück</td>
                        <td>STRG + z</td>
                    </tr>
                    <tr>
                        <td>einen Schritt zurück</td>
                        <td>Backspace</td>
                    </tr>
                    <tr>
                        <td>einen Schritt vor</td>
                        <td>STRG + y</td>
                    </tr>
                    <tr>
                        <td>zur Suche navigieren</td>
                        <td>SHIFT + /</td>
                    </tr>
                    <tr>
                        <td>zur Suche navigieren</td>
                        <td>TAB</td>
                    </tr>
                    <tr>
                        <td>zur Suche navigieren</td>
                        <td>STRG + s</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Navigation</h3>
                <table>
                    <tr>
                        <td>zur nächsten Seite navigieren</td>
                        <td>STRG + n</td>
                    </tr>
                    <tr>
                        <td>zur nächsten Seite navigieren</td>
                        <td>Pfeil rechts</td>
                    </tr>
                    <tr>
                        <td>zur vorherigen Seite navigieren</td>
                        <td>STRG + b</td>
                    </tr>
                    <tr>
                        <td>zur vorherigen Seite navigieren</td>
                        <td>Pfeil links</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>