

<div class="back_button">
    <a href="javascript:history.back()">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</div>

@if (!NavigationManager.Uri.Contains("search"))
{
    <div class="search_button">
        <a href="/search">
            <i class="fa-solid fa-magnifying-glass fa-align-center" centered></i>
        </a>
    </div>
}

<div class="burger" @attributes="navigationAttributes" @onclick="NavigationActive">
    <div class="burger-line burger-line1"></div>
    <div class="burger-line burger-line2"></div>
</div>
<div class="navigation-blur-filter" @attributes="navigationAttributes" @onclick="NavigationActive"></div>
<div class="navigation" @attributes="navigationAttributes">
    <div class="themeSwitch">
        <abbr title="Dark Mode">
            <i class="moon fa-solid fa-moon" centered></i>
        </abbr>
        <abbr title="Auto Mode">
            <i class="auto fa-solid fa-circle-half-stroke" centered></i>
        </abbr>
        <abbr title="Light Mode">
            <i class="sun fa-solid fa-sun" centered></i>
        </abbr>
    </div>

    <div class="tastenkombinationenSwitch">
        <i class="fa-solid fa-keyboard" centered></i>
    </div>

    <ul class="list">
        <li class="item">
            <a href="/index.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="HOME">
                        <i class="fas fa-home"></i> HOME
                        <i class="fas fa-igloo"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/programmiersprachen.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="PROGRAMMIERSPRACHEN">
                        <i class="fas fa-language"></i> PROGRAMMIERSPRACHEN
                        <i class="fas fa-code"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/netzwerktechnik.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="NETZWERKTECHNIK">
                        <i class="fas fa-wifi"></i> NETZWERKTECHNIK
                        <i class="fas fa-file-powerpoint"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/datenbanken.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="DATENBANKEN">
                        <i class="fas fa-server"></i> DATENBANKEN
                        <i class="fas fa-database"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/systemtechnik.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="SYSTEMTECHNIK">
                        <i class="fas fa-robot"></i> SYSTEMTECHNIK
                        <i class="fas fa-microchip"></i>
                    </span>
                </span>
            </a>
        </li>
        <li class="item">
            <a href="/docs/betriebssysteme.html" class="navlink">
                <span class="link-showcase">
                    <span class="link-text" data-after="BETRIEBSSYSTEME">
                        <i class="fa-brands fa-linux"></i> BETRIEBSSYSTEME
                        <i class="fa-brands fa-apple"></i>
                    </span>
                </span>
            </a>
        </li>
    </ul>
</div>

@*
<div class="tastenkombinationen-background_close"></div>
<iframe src="/components/tastenkombinationen.html" class="tastenkombinationen-iframe"></iframe>*@


@code {

    private Dictionary<string, object> navigationAttributes { get; set; } = new();

    void NavigationActive()
    {
        if (navigationAttributes.ContainsKey("active"))
        {
            navigationAttributes.Remove("active");
        }
        else
        {
            navigationAttributes.Add("active", "true");
        }
        StateHasChanged();
    }

}