<h3>KeyCombinations</h3>

<h1>Tastenkombinationen</h1>
<div class="grid" responsive grid-template-columns="1,1">
    <div>
        <h3>Allgemein</h3>
        <div>
            <div class="grid" grid-template-columns="3,1">
                <div>eine Ebene höher gehen</div>
                <div><kbd>BACKSPACE</kbd></div>
            </div>
            <div class="grid" grid-template-columns="3,1">
                <div>einen Schritt rückwärts gehen</div>
                <div><kbd>STRG</kbd> + <kbd>z</kbd></div>
            </div>
            <div class="grid" grid-template-columns="3,1">
                <div>einen Schritt vorwärts gehen</div>
                <div><kbd>STRG</kbd> + <kbd>y</kbd></div>
            </div>
        </div>
    </div>
    <div>
        <h3>Navigation</h3>
        <div>
            <div class="grid" grid-template-columns="3,1">
                <div>zur nächsten Lektion navigieren</div>
                <div>
                    <kbd><i class="fa-solid fa-arrow-right"></i></kbd>
                </div>
            </div>
            <div class="grid" grid-template-columns="3,1">
                <div>zur vorherigen Lektion navigieren</div>
                <div>
                    <kbd><i class="fa-solid fa-arrow-left"></i></kbd>
                </div>
            </div>
            <div class="grid" grid-template-columns="3,1">
                <div>zur nächsten Lektion navigieren</div>
                <div><kbd>STRG</kbd> + <kbd>n</kbd></div>
            </div>
            <div class="grid" grid-template-columns="3,1">
                <div>zur vorherigen Lektion navigieren</div>
                <div><kbd>STRG</kbd> + <kbd>b</kbd></div>
            </div>
        </div>
    </div>
    <div>
        <h3>Suche</h3>
        <div>
            <div class="grid" grid-template-columns="3,1">
                <div>zur Suche springen</div>
                <div><kbd>TAB</kbd></div>
            </div>
            <div class="grid" grid-template-columns="2,1">
                <div>Suchverlauf löschen</div>
                <div><kbd>ENTF</kbd></div>
            </div>
            <div class="grid" grid-template-columns="2,1">
                <div>nächstes Ergebnis</div>
                <div>
                    <kbd>TAB</kbd> / <kbd><i class="fa-solid fa-arrow-down"></i></kbd>
                </div>
            </div>
            <div class="grid" grid-template-columns="2,1">
                <div>vorheriges Ergebnis</div>
                <div>
                    <kbd>SHIFT</kbd> + <kbd>TAB</kbd> /
                    <kbd><i class="fa-solid fa-arrow-up"></i></kbd>
                </div>
            </div>
            <br />
            <div class="grid" grid-template-columns="2,1">
                <div>aktuell ausgewähltes / erstes Ergebnis öffnen</div>
                <div>
                    <kbd>ENTER</kbd>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}