@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;

.container {
    position: relative;
    width: var(--container);
    margin: auto;

    &[container-size="fluid"] {
        width: 100%;
    }

    &[container-size="small"] {
        width: 50%;
    }
}

.section {
    min-height: 100vh;
    width: 100%;
}

:target:before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    $target-abstand-top: 1.8rem;
    height: $target-abstand-top;
    margin-top: -$target-abstand-top;
}

i[centered]:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

// Wenn Scrollbar sichtbar sein soll...
// ::-webkit-scrollbar {
//     width: .5vw;
// }

// ::-webkit-scrollbar-track {
//     margin-block: .2vw;
// }

// ::-webkit-scrollbar-thumb {
//     background: #555;
//     border: transparent solid 3vw;
//     border-radius: 10000px;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: #666;
// }
