@use '../abstracts/colors' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    text-decoration: none;
    outline-style: none;
    border-style: none;
    list-style: none;
    background: none;
    animation: none;
    transform: none;

    text-overflow: inherit;
    user-select: inherit;
    transition: inherit;
    font-size: inherit;
    color: inherit;
}

html, 
body {
    color: $font-color; 
    background-color: $background-color;

    overflow-x: hidden;
    overflow: overlay;
    scroll-behavior: smooth;
}