@use "../abstracts/colors" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    text-decoration: none;
    outline-style: none;
    border-style: none;
    list-style: none;
    background: none;
    animation: none;
    transform: none;

    text-overflow: inherit;
    user-select: inherit;
    transition: inherit;
    font-size: inherit;
    color: inherit;
}

html,
body {
    color: var(--font-color);
    background-color: var(--background-color);
    overflow-x: hidden;
    // overflow: overlay;
    scroll-behavior: smooth;
}

i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
