@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
}

.search_div {
    position: relative;
    width: clamp(4vh, 60rem, calc(100% - 32vh));
    margin: 2rem auto 0;

    & form {
        & #search {
            width: 100%;
            height: 4rem;
            padding: 1.5rem 2.5rem 1.5rem 4.5rem;
            background: $background-color-2;
            border-radius: 10000px;     
            box-shadow: 0px 20px 0px -10px $shadow-ergebnis-div;      
        }      
    }

    &::before {
        font: var(--fa-font-solid); // so ein Scheiß!!!
        content: '\f002';
        position: absolute;
        left: 1.5rem;
        top: 0;
        height: 100%;
        font-size: 1.75rem;
        display: flex;
        align-items: center;
    } 

    &::after {
        content: attr(data-after); //'Press Enter to open the first result!';
        position: absolute;
        right: 2rem;
        top: 0;
        height: 100%;
        max-width: 50%;
        color: $border-color;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        user-select: none;
    } 
}

#ergebnisse {
    position: relative;
    width: $container;
    margin: 4rem auto;

    & div { 
        width: 100%;
        margin: 2.5rem 0;
        padding: 1.5rem 2rem;
        background: $background-color-2;
        border-radius: $border-radius;
        box-shadow: 0px 25px 0px -5px $shadow-ergebnis-div;
        transition: box-shadow .1s ease-in-out, transform .1s ease-in-out, color 50ms ease-in-out, background 50ms ease-in-out, font .1s ease-in-out;

        & h4 {
            margin: 0;
            padding: 0;
            color: $font-color-ergebnis-heading;
            font-weight: 700;
        }

        & p {
            margin: 0;
            padding: 0;
            color: $font-color-ergebnis-paragraph;
            font-weight: 400;
        } 
    
        &:hover {
            box-shadow: 0px 13px 0px -5px $shadow-ergebnis-div;
            transform: translateY(12px);
        }

        &#active {
            box-shadow: 0px 19px 0px -5px $shadow-ergebnis-div-active;
            transform: translateY(6px);
            background: $background-color-ergebnis-div-active;

            & h4 {
                color: $font-color-ergebnis-heading-active;
            } 

            & p {
                color: $font-color-ergebnis-paragraph-active;
            } 

            &:hover {
                box-shadow: 0px 13px 0px -5px $shadow-ergebnis-div;
                transform: translateY(12px);
            }
        }
    }

}

@media screen and (max-width: 40rem) {
    .search_div {
        width: $container;
        margin: 8rem auto 0;

        &::after {
            content: '';
        }
    }
}