@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
}

// #blur {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;

//     backdrop-filter: blur(10px);
//     mask: linear-gradient(to bottom, black 10%, transparent 25%);
//     background: linear-gradient(to bottom, rgb(0, 0, 0, 0.8) 5%, transparent 25%);

//     user-select: none;
//     pointer-events: none;
//     z-index: 970;
// }

.search_div {
    // position: fixed;
    position: absolute;
    width: clamp(4vh, 60rem, calc(100% - 32vh));
    margin: 2rem 0 0 50vw;

    transform: translateX(-50%);

    z-index: 971;

    & form {
        & #search {
            width: 100%;
            height: 4rem;
            padding: 1.5rem 2.5rem 1.5rem 4.5rem;
            background-color: var(--background-color-2);
            border-radius: 10000px;
            box-shadow: 0px 20px 0px -10px var(--shadow-ergebnis-div);
        }
    }

    &::before {
        font: var(--fa-font-solid); // so ein Scheiß!!!
        content: "\f002";
        position: absolute;
        left: 1.5rem;
        top: 0;
        height: 100%;
        font-size: 1.75rem;
        display: flex;
        align-items: center;
    }

    & #information-after {
        content: attr(information-after); //'Press Enter to open the first result!';
        position: absolute;
        right: 2rem;
        top: 0;
        height: 100%;
        max-width: 50%;
        color: var(--border-color);
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        user-select: none;
    }
}

#info {
    position: relative;
    width: var(--container);
    margin: 10rem auto 0;
}

#ergebnisse {
    position: relative;
    width: var(--container);
    margin: 0 auto 4rem;

    & .ergebnis {
        width: 100%;
        margin: 2.5rem 0;
        padding: 1.5rem 2rem;
        background-color: var(--background-color-2);
        border-radius: var(--border-radius);
        box-shadow: 0px 25px 0px -5px var(--shadow-ergebnis-div);
        transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, color 50ms ease-in-out,
            background 50ms ease-in-out, font 0.1s ease-in-out;

        & h4 {
            margin: 0;
            padding: 0;
            color: var(--font-color-ergebnis-heading);
            font-weight: 700;
        }

        & p {
            margin: 0;
            padding: 0;
            color: var(--font-color-ergebnis-paragraph);
            font-weight: 400;
        }

        &:hover {
            box-shadow: 0px 13px 0px -5px var(--shadow-ergebnis-div);
            transform: translateY(12px);
        }

        &[active] {
            box-shadow: 0px 19px 0px -5px var(--shadow-ergebnis-div-active);
            transform: translateY(6px);
            // background-color: var(--background-color-ergebnis-div-active);

            & h4 {
                color: var(--font-color-ergebnis-heading-active);
            }

            & p {
                color: var(--font-color-ergebnis-paragraph-active);
            }

            &:hover {
                box-shadow: 0px 13px 0px -5px var(--shadow-ergebnis-div);
                transform: translateY(12px);
            }
        }
    }
}

#clear_search_history {
    // z-index: 980;
}

@media (max-width: 40em) {
    .search_div {
        width: var(--container);
        margin: 8rem auto 0;

        &::after {
            content: "";
        }
    }

    #clear_search_history {
        top: 15rem;
    }
}
