@mixin aspectRatioBox($width, $height) {
    overflow: hidden;
    padding-top: percentage($height / $width);
    position: relative;
    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}