:root {
    --container: 80%;

    --transition-short: 0.2s;
    --transition-middle: 0.5s;
    --transition-long: 0.8s;
    --bounce-easing: cubic-bezier(0.89, -0.68, 0.5, 1);

    --border-radius: 20px;

    --media-break-point: 40em;
    --media-break-point-2: 60em;
}
