@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../base/animations" as *;

.navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    font-size: clamp(1.2rem, 1.64vw, 1.5rem);
    background: $background-color-2;
    transform: translateX(100vw);
    transition: transform $transition-middle ease-in-out;
    user-select: none;
    z-index: 1000;

    & > * {
        opacity: 0;
        transition: opacity $transition-short ease-in-out;
    }

    & .themeSwitch,
    & .tastenkombinationenSwitch {
        position: absolute;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
            opacity $transition-short ease-in-out;

        & ion-icon {
            width: 40%;
            height: 40%;
        }
    }

    & .themeSwitch {
        top: 2rem;
        left: 2rem;
    }

    & .tastenkombinationenSwitch {
        bottom: 2rem;
        right: 2rem;
    }

    & .list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    & .item {
        position: relative;
        padding: 1rem 0;
    }

    & .navlink {
        text-decoration: none;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;

        position: relative;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);

        &::before {
            content: "";
            position: absolute;
            top: -30px;
            bottom: -30px;
            left: 0;
            right: 0;
        }

        & .link-showcase {
            position: relative;
            width: 100%;
            display: flex;
            height: 2rem;
            overflow: hidden;
        }

        & .link-text {
            position: relative;
            color: $font-color;
            transform-origin: left center;
            font-weight: 600;
            transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);

            &::after {
                content: attr(data-after);
                display: block;
                position: absolute;
                transform-origin: left center;
                color: $font-color-navigation-hover;
                top: calc(
                    220% - 15px
                ); // 30px weniger als beim unteren Hover-Effect, damit JS-Code ausgeglichen
                left: 2rem;
                transform: skewY(30deg);
                transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }

    & .navlink:hover .link-text {
        transform: translateY(-220%) skewY(6deg);

        &::after {
            transform: skewY(-6deg);
        }
    }

    &[active] {
        transform: translateX(0);

        & > * {
            transition: opacity $transition-short ease-in-out
                calc($transition-middle - $transition-short);
            opacity: 1;
        }

        & .themeSwitch,
        & .tastenkombinationenSwitch {
            transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
                opacity $transition-short ease-in-out
                    calc($transition-middle - $transition-short);
        }
    }
}

.navigation-blur-filter,
.tastenkombinationen-background_close {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $font-color;
    opacity: 0;
    transition: opacity $transition-middle ease-in-out,
        z-index 0s $transition-middle;
    z-index: -999;

    &[active] {
        transition: opacity $transition-middle ease-in-out, z-index 0s;
        opacity: 0.25;
        z-index: 990;
    }
}

.tastenkombinationen-iframe {
    display: none;
    position: fixed;
    $height: min(100vh - 2rem, 30rem);
    $width: min(100vw - 2rem, 40rem);
    height: $height;
    width: $width;
    margin: calc((100vh - $height) / 2) calc((100vw - $width) / 2);
    border: 3px #ccc solid;
    border-radius: 10px;
    z-index: 1010;
}

.tastenkombinationen-background_close {
    transition: none;

    &[active] {
        opacity: 0;
        z-index: 1009;
    }
}

.burger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    padding: 1.5rem;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
        background $transition-short ease-in-out;
    cursor: pointer;
    z-index: 1001;

    & > .burger-line {
        position: absolute;
        display: block;
        width: 2rem;
        height: 0.25rem;
        border-radius: 10000px;
        // mix-blend-mode:overlay;
        background: $font-color;
        transition: transform $transition-middle ease-in-out,
            background $transition-short ease-in-out;
    }

    & > .burger-line1 {
        animation: burger-anim1 $transition-middle ease-in-out;
        transform: translateY(-0.3rem);
    }

    & > .burger-line2 {
        animation: burger-anim2 $transition-middle ease-in-out;
        transform: translateY(0.3rem);
    }

    &:hover {
        background: $main-color;

        & > .burger-line {
            background: $font-color-light;
        }
    }

    &[active] {
        & > .burger-line1 {
            animation: burger-anim1-active var(--middle-transition) ease-in-out;
            transform: rotate(45deg);
        }

        & > .burger-line2 {
            animation: burger-anim2-active var(--middle-transition) ease-in-out;
            transform: rotate(-45deg);
        }
    }
}

body .moon {
    display: none;
}

body .sun {
    display: inline-block;
}

body[colorTheme="light"] .moon {
    display: inline-block;
}

body[colorTheme="light"] .sun {
    display: none;
}

.back_button,
.search_button,
.burger {
    backdrop-filter: blur(10px);
}

.back_button,
.search_button {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
        background $transition-short ease-in-out,
        color $transition-short ease-in-out;
    z-index: 995;

    & > a {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        & > ion-icon {
            width: 70%;
            height: 70%;
            color: $font-color;
        }
    }

    &:hover {
        background: $main-color;

        & > a {
            & ion-icon {
                color: $font-color-light;
            }
        }
    }
}

.search_button {
    left: initial;
    right: 8rem;
    z-index: 1001;

    & > a {
        & > ion-icon {
            width: 60%;
            height: 60%;
        }
    }
}

@media (min-width: $media-break-point-2) {
    .navigation {
        width: 40rem;
        transform: translateX(40rem);
    }
}
