@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

table {
    width: 100%;
    margin: 1.5rem 0;
    border-collapse: collapse;
    background-color: var(--background-color-3);
    border: 0.2rem solid var(--border-color);
    border-radius: var(--border-radius);

    & tr,
    th,
    td {
        // border-left: .15rem  solid var(--border-color);
        // border-right: .15rem solid var(--border-color);
    }

    & tr {
        width: auto;

        &:nth-child(odd) {
            background-color: var(--background-color-2);
        }

        &:nth-child(even) {
            background-color: var(--background-color-3);
        }

        & th,
        td {
            padding: 0.6rem;
            // text-size-adjust: 100%;
            width: auto;
            // word-break: break-word;
            // white-space: pre-wrap;
            // word-wrap: break-word;
        }

        & th {
            background-color: var(--main-color);
            color: var(--font-color-light);
            font-family: "Youtube Sans", sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
        }

        & td.right {
            text-align: right;
        }
    }
}
