@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

table {
    width: 100%;
    margin: 1.5rem 0;
    border-collapse: collapse;
    background-color: $background-color-3;
    border: .2rem solid $border-color;
    border-radius: $border-radius;


    & tr, th, td {
        // border-left: .15rem  solid $border-color;
        // border-right: .15rem solid $border-color;
    }

    & tr {
        width: auto;

        &:nth-child(even) {
            background-color: $background-color-2;
        }

        & th, td {
            padding: 0.6rem;   
            // text-size-adjust: 100%;         
            width: auto;
            // word-break: break-word;
            // white-space: pre-wrap;
            // word-wrap: break-word;
        }

        & th {
            background: $main-color;
            color: $font-color-light;
            font-weight: 500;
        }

        & td.right {
            text-align: right;
        }
    }
}