@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../base/animations" as *;

.navigation {
    & .tastenkombinationenSwitch {
        display: inline-block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        bottom: 2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
            opacity var(--transition-short) ease-in-out;

        & i {
            width: 40%;
            height: 40%;
            transition: color var(--transition-short) ease-in-out;
        }

        &:hover i {
            color: var(--main-color);
        }
    }

    &[active] {
        & .tastenkombinationenSwitch {
            transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
                opacity var(--transition-short) ease-in-out
                    calc(var(--transition-middle) - var(--transition-short));
        }
    }
}

.tastenkombinationen-background_close {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--font-color);
    opacity: 0;
    transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
    z-index: -999;

    &[active] {
        transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
        opacity: 0.25;
        z-index: 990;
    }
}

.tastenkombinationen-iframe {
    display: none;
    position: fixed;
    $height: min(100vh - 2rem, 40rem);
    $width: min(100vw - 2rem, 60rem);
    height: $height;
    width: $width;
    margin: calc((100vh - $height) / 2) calc((100vw - $width) / 2);
    padding: 0;
    outline: 0.2rem var(--border-color) solid;
    box-shadow: inset 0.1rem 0.1rem var(--border-color), inset -0.1rem -0.1rem var(--border-color);
    border-radius: 10px;
    z-index: 1010;
}

.tastenkombinationen-background_close {
    transition: none;

    &[active] {
        opacity: 0;
        z-index: 1009;
    }
}
