<footer>
    <div class="footer-container">
        <div class="footer-element">
            <h5>Coole Websiten</h5>
            <hr length="short" />
            <div class="space-between">
                <div class="mr-3">
                    <div>
                        <a href="https://cuberto.com/" class="link" youtube-font>cuberto</a>
                    </div>
                    <div>
                        <a href="https://stackoverflow.com/" class="link" youtube-font
                            >Stack Overflow</a
                        >
                    </div>
                    <div>
                        <a href="https://www.youtube.com/c/KurzgesagtDE" class="link" youtube-font
                            >Kurzgesagt</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-element">
            <h5>Quellen</h5>
            <hr length="short" />
            <div>
                <a href="/components/law/quellen.html" class="link" youtube-font>alle Quellen</a>
            </div>
            <br />
            <div class="grid" grid-columns="2">
                <div>Schriftarten:</div>
                <div>
                    <a href="https://fonts.google.com/" class="link" youtube-font>Google Fonts</a>
                </div>
            </div>
            <br />
            <div class="grid" grid-columns="2">
                <div>Icons:</div>
                <div>
                    <a href="https://fontawesome.com/" class="link" youtube-font>Font Awesome</a>
                </div>
            </div>
            <br />
            <div class="grid" grid-columns="2">
                <div>Wellen:</div>
                <div><a href="https://app.haikei.app/" class="link" youtube-font>Haikei</a></div>
            </div>
            <br />
            <div class="grid" grid-columns="2">
                <div>Farben:</div>
                <div>
                    <a href="https://flatuicolors.com/" class="link" youtube-font>Flat UI Colors</a>
                </div>
            </div>
        </div>
        <div class="footer-element">
            <h5>Copyright</h5>
            <hr length="short" />
            <div>&copy; 2022</div>
            <div>
                Felix Schneider <br />
                & Clemens Schlipfinger
            </div>
            <br />
            <div>
                <a href="/components/law/impressum.html" class="link" youtube-font>Impressum</a>
            </div>
            <div><a href="/components/law/quellen.html" class="link" youtube-font>Quellen</a></div>
        </div>
        <div class="footer-element">
            <h5>Spende</h5>
            <hr length="short" />
            <div>Unterstützen Sie uns!</div>
            <strong>
                <a
                    href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FT9TT4LP8GD6Y"
                    class="fg-link"
                    >Spenden</a
                >
            </strong>
        </div>
    </div>
    <a style="cursor: default" id="vogel_a" class="footer-vogel">
        <img loading="lazy" src="" alt="" id="vogel" />
    </a>
</footer>

@code {
    
}