:root {
    --main-color: hsl(235, 86%, 65%);
    --font-color: hsl(0, 0%, 100%);
    --font-color-secondary: hsl(0, 0%, 85%);
    --font-color-dark: hsl(0, 0%, 0%);
    --font-color-light: hsl(0, 0%, 100%);
    --font-color-link: hsl(46, 100%, 75%);
    --font-color-link-hover: hsl(46, 100%, 65%);
    --font-color-navigation-hover: hsl(29, 100%, 91%);
    --font-color-warning: hsl(45, 95%, 30%);
    --font-color-info: hsl(0, 0%, 100%);
    --background-color: hsl(210, 10%, 15%);
    --background-color-2: hsl(210, 10%, 20%);
    --background-color-3: hsl(210, 10%, 25%);
    --background-color-button: var(--main-color);
    --background-color-card: hsl(220, 0%, 15%);
    --background-color-code: hsl(220, 10%, 25%);
    --background-color-code-copy: hsl(220, 10%, 15%);
    --background-color-warning: hsl(46, 100%, 90%);
    --background-color-info: hsl(188, 78%, 41%);
    --background-color-footer: hsl(220, 10%, 20%);
    --border-color: hsl(0, 0%, 60%);
    --border-color-2: hsl(0, 0%, 95%);
    --font-color-code-string: hsl(18, 50%, 68%);
    --font-color-code-comment: hsl(111, 39%, 45%);
    --font-color-code-class: hsl(169, 49%, 52%);
    --font-color-code-struct: hsl(130, 36%, 65%);
    --font-color-code-method: hsl(60, 42%, 76%);
    --font-color-code-variable: hsl(201, 93%, 79%);
    --font-color-code-number: hsl(99, 28%, 73%);
    --font-color-code-keyword: hsl(207, 61%, 59%);
    --font-color-code-keyword-optional: hsl(211, 45%, 43%);
    --font-color-code-generic: hsl(102, 35%, 72%);
    --font-color-code-flowcontrol: hsl(293, 50%, 75%);
    --font-color-code-error: hsl(2, 97%, 60%);
    --font-color-code-normal: hsl(0, 0%, 86%);
    --orange: hsl(37, 80%, 51%);
    --green: hsl(99, 57%, 31%);
    --lime: hsl(158, 95%, 34%);
    --blue: hsl(208, 80%, 50%);
    --violet: hsl(59, 76%, 54%);
    --pink: hsl(295, 80%, 69%);
    --shadow-ergebnis-div: hsl(0, 0%, 0%);
    --shadow-ergebnis-div-active: hsl(0, 0%, 0%);
    --font-color-ergebnis-heading: hsl(0, 0%, 100%);
    --font-color-ergebnis-heading-active: hsl(0, 0%, 100%);
    --font-color-ergebnis-paragraph: hsl(0, 0%, 70%);
    --font-color-ergebnis-paragraph-active: hsl(0, 0%, 90%);
    --background-color-ergebnis-div-active: var(--blue);
    
    --container: 80%;
    --transition-short: 0.2s;
    --transition-middle: 0.5s;
    --transition-long: 0.8s;
    --bounce-easing: cubic-bezier(0.89, -0.68, 0.5, 1);
    --border-radius: 20px;
    --media-break-point: 40em;
    --media-break-point-2: 60em;
}

.burger {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    -webkit-transition: background var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    z-index: 1001;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.burger > .burger-line {
    position: absolute;
    display: block;
    width: 2rem;
    height: 0.25rem;
    border-radius: 10000px;
    background-color: var(--font-color);
    -webkit-transition: background var(--transition-short) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
    transition: background var(--transition-short) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
    transition: transform var(--transition-middle) ease-in-out, background var(--transition-short) ease-in-out;
    transition: transform var(--transition-middle) ease-in-out, background var(--transition-short) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
}
.burger > .burger-line1 {
    -webkit-animation: burger-anim1 var(--transition-middle) ease-in-out;
    animation: burger-anim1 var(--transition-middle) ease-in-out;
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
}
.burger > .burger-line2 {
    -webkit-animation: burger-anim2 var(--transition-middle) ease-in-out;
    animation: burger-anim2 var(--transition-middle) ease-in-out;
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
}
.burger:hover {
    background-color: var(--main-color);
}
.burger:hover > .burger-line {
    background-color: var(--font-color-light);
}
.burger[active] > .burger-line1 {
    -webkit-animation: burger-anim1-active var(--transition-middle) ease-in-out;
    animation: burger-anim1-active var(--transition-middle) ease-in-out;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.burger[active] > .burger-line2 {
    -webkit-animation: burger-anim2-active var(--transition-middle) ease-in-out;
    animation: burger-anim2-active var(--transition-middle) ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 40em) {
    .burger {
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .burger > .burger-line {
        width: 1rem;
        height: 0.2rem;
    }
    .burger > .burger-line1 {
        -webkit-transform: translateY(-0.2rem);
        transform: translateY(-0.2rem);
    }
    .burger > .burger-line2 {
        -webkit-transform: translateY(0.2rem);
        transform: translateY(0.2rem);
    }
}
.navigation {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    font-size: clamp(1.2rem, 1.64vw, 1.5rem);
    background-color: var(--background-color-2);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -webkit-transition: -webkit-transform var(--transition-middle) ease-in-out;
    transition: -webkit-transform var(--transition-middle) ease-in-out;
    transition: transform var(--transition-middle) ease-in-out;
    transition: transform var(--transition-middle) ease-in-out, -webkit-transform var(--transition-middle) ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
}
.navigation > * {
    opacity: 0;
    -webkit-transition: opacity var(--transition-short) ease-in-out;
    transition: opacity var(--transition-short) ease-in-out;
}
.navigation .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.navigation .list .item {
    position: relative;
    padding: 1rem 0;
}
.navigation .list .item .navlink {
    text-decoration: none;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 40px;
    position: relative;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.navigation .list .item .navlink::before {
    content: "";
    position: absolute;
    top: -30px;
    bottom: -30px;
    left: 0;
    right: 0;
}
.navigation .list .item .navlink .link-showcase {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    overflow: hidden;
}
.navigation .list .item .navlink .link-text {
    position: relative;
    color: var(--font-color);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    font-weight: 600;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.navigation .list .item .navlink .link-text::after {
    content: attr(data-after);
    color: #5966f3;
    display: block;
    position: absolute;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    top: calc(220% - 15px);
    left: 2rem;
    -webkit-transform: skewY(30deg);
    transform: skewY(30deg);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.navigation .list .item .navlink:hover .link-text {
    -webkit-transform: translateY(-200%) skewY(6deg);
    transform: translateY(-200%) skewY(6deg);
}
.navigation .list .item .navlink:hover .link-text::after {
    -webkit-transform: skewY(-6deg);
    transform: skewY(-6deg);
}
.navigation[active] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.navigation[active] > * {
    -webkit-transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short));
    transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short));
    opacity: 1;
}

body[colorTheme=dark] .navigation .item:nth-of-type(1) .navlink .link-text::after {
    color: #5966f3;
}
body[colorTheme=dark] .navigation .item:nth-of-type(2) .navlink .link-text::after {
    color: var(--lime);
}
body[colorTheme=dark] .navigation .item:nth-of-type(3) .navlink .link-text::after {
    color: var(--orange);
}
body[colorTheme=dark] .navigation .item:nth-of-type(4) .navlink .link-text::after {
    color: var(--pink);
}
body[colorTheme=dark] .navigation .item:nth-of-type(5) .navlink .link-text::after {
    color: var(--blue);
}
body[colorTheme=dark] .navigation .item:nth-of-type(6) .navlink .link-text::after {
    color: var(--violet);
}

@media (prefers-color-scheme: dark) {
    body[colorTheme=auto] .navigation .item:nth-of-type(1) .navlink .link-text::after {
        color: #5966f3;
    }
    body[colorTheme=auto] .navigation .item:nth-of-type(2) .navlink .link-text::after {
        color: var(--lime);
    }
    body[colorTheme=auto] .navigation .item:nth-of-type(3) .navlink .link-text::after {
        color: var(--orange);
    }
    body[colorTheme=auto] .navigation .item:nth-of-type(4) .navlink .link-text::after {
        color: var(--pink);
    }
    body[colorTheme=auto] .navigation .item:nth-of-type(5) .navlink .link-text::after {
        color: var(--blue);
    }
    body[colorTheme=auto] .navigation .item:nth-of-type(6) .navlink .link-text::after {
        color: var(--violet);
    }
}

.navigation-blur-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--font-color);
    opacity: 0;
    -webkit-transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
    transition: opacity var(--transition-middle) ease-in-out, z-index 0s var(--transition-middle);
    z-index: -999;
}
.navigation-blur-filter[active] {
    -webkit-transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
    transition: opacity var(--transition-middle) ease-in-out, z-index 0s;
    opacity: 0.25;
    z-index: 990;
}

@media (min-width: 60em) {
    .navigation {
        width: 40rem;
        -webkit-transform: translateX(40rem);
        transform: translateX(40rem);
    }
}
.back_button {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    -webkit-transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 995;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.back_button > a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.back_button > a > i {
    font-size: 1.7rem;
    color: var(--font-color);
}
.back_button:hover {
    background-color: var(--main-color);
}
.back_button:hover > a i {
    color: var(--font-color-light);
}

@media (max-width: 40em) {
    .back_button {
        top: 1rem;
        left: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .back_button > a > i {
        font-size: 1rem;
    }
}
.search_button {
    position: fixed;
    top: 2rem;
    right: 8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    -webkit-transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background var(--transition-short) ease-in-out, color var(--transition-short) ease-in-out, opacity var(--transition-middle) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1001;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.search_button > a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.search_button > a > i {
    font-size: 1.7rem;
    color: var(--font-color);
    width: 60%;
    height: 60%;
}
.search_button:hover {
    background-color: var(--main-color);
}
.search_button:hover > a i {
    color: var(--font-color-light);
}

@media (max-width: 40em) {
    .search_button {
        top: 1rem;
        right: 4rem;
        width: 2rem;
        height: 2rem;
    }
    .search_button > a > i {
        font-size: 1rem;
    }
}
.navigation .themeSwitch {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 2rem;
    left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    -webkit-transition: opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.navigation .themeSwitch i {
    width: 40%;
    height: 40%;
    -webkit-transition: color var(--transition-short) ease-in-out;
    transition: color var(--transition-short) ease-in-out;
}
.navigation .themeSwitch:hover i {
    color: var(--main-color);
}
.navigation[active] .themeSwitch {
    -webkit-transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short));
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity var(--transition-short) ease-in-out calc(var(--transition-middle) - var(--transition-short)), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

body :is(.moon, .sun, .auto) {
    display: none;
}

body[colorTheme=dark] .moon {
    display: inline-block;
}

body[colorTheme=light] .sun {
    display: inline-block;
}

body[colorTheme=auto] .auto {
    display: inline-block;
}

@media (max-width: 40em) {
    .navigation .themeSwitch {
        top: 1rem;
        left: 1rem;
        width: 2rem;
        height: 2rem;
    }
}